@import "../variables.scss";

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-title {
    margin-top: 1rem;
}

.home-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-container {
    margin: 1rem 3rem;
}

.product-container:hover {
    cursor: pointer;
    opacity: 0.5;
}

.product-title {
    text-align: center;
}

.product-img {
    width: 200px;
    object-fit: contain;
}

.product-price {
    text-align: center;
}

@media(min-width: 960px) {
    .home-products {
        flex-direction: row;
    }
}