@import "../variables.scss";

.product-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-detail__title {
    text-align: center;
    margin: 1rem;
}

.product-detail__img {
    width: 350px;
    object-fit: contain;
}

.product-detail__total {
    font-size: 1rem;
    margin: 1rem 0;
    text-align: center;
}

.product-detail__purchase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type="number"] {
    width: 3rem;
    text-align: center;
    padding: 0.3rem;
}

input[type="submit"] {
    padding: 0.7rem;
    font-weight: bold;
    font-size: 1rem;
    background-color: blue;
    color: white;
    margin: 1.5rem;
    border-radius: 0.5rem;
    border-width: 0;
}

input[type="submit"]:hover {
    cursor: pointer;
    opacity: 0.6;
}