@import "variables.scss";

// global
html,
body,
h1,
h2,
h3,
h4,
h5,
p,
a,
div,
input,
button,
output,
strong,
label,
table,
thead,
textarea {
    font-family: 'sans-serif';
}

h1 {
    font-size: 1.2rem;
    font-weight: bold;
}

h2 {
    font-size: 1rem;
    font-weight: bold;
}

h3 {
    font-size: 0.8rem;
}
a {
    text-decoration: none;
    color: $navbar-letter-color;
}

.master-container {
    background-color: white;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

body {
    margin: 0;
    max-width: 100vw;
    overflow-x: hidden;
}
