// variables
$border-radius: 5px;

// navbar
$navbar-letter-color: black;
// $navbar-letter-color: rgba(100, 100, 100, 1);
$navbar-letter-hover-color: black;
// $navbar-letter-hover-color: rgba(100, 100, 100, 1);
$navbar-height: 5rem;
$navbar-background: white;
$navbar-backdrop-background-color: rgba(255, 255, 255, 0.9);
$navbar-background-opacity-heavy: 0.8;
$navbar-hover-item-background: rgba(245, 245, 245, 1);
$navbar-backdrop-border-bottom-color: rgba(200, 200, 200, 1);

//footer
$footer-background: $navbar-background;
$footer-letter-color: $navbar-letter-color;
$footer-height: 2rem;

//landing
$landing-background: rgba(50, 50, 50, 1);
$landing-letter-color: white;
