@import "../variables.scss";

.loading {
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.loading-img {
    width: 150px;
    height: 150px;
    filter: grayscale(100%);
}